<%= form_for @book do |f| %>

    <div class="row">

        <div class="col-md-3">
            <%=f.label :name %>
        </div>
        <div class="col-md-9">
            <%=f.text_field :name %>
        </div>
        <div class="col-md-3">
            <%=f.label :author %>
        </div>
        <div class="col-md-9">
            <%=f.text_field :author %>
        </div>

        <div class="col-md-12">
            <%=f.submit%>
        </div>
    </div>
<% end %>
